:root {
  --primary-text-color: #212121;
  --second-text-color: #2196F3;
  --white-color-text: #FFFFFF;
  --background-second-color: #2F303A;
  --background-first-color:  #E5E5E5;
  --background-therd-color: #F5F4FA;
  --card-set-gap: -30px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #2a2a2a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: #000;
  padding-top: 32px;
  padding-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #AFB1B8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link:hover {
  color: #FFFFFF;
  background: #2196F3;
}

.social-item__icon {
  fill: currentColor;
}

.main-nav__logo {
  color: #2196F3;
  font-family: "Rolway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.20;
  text-decoration: none;
  -webkit-animation: shake 100ms linear  1;
          animation: shake 100ms linear  1;
}

.main-nav__logo-dark {
  color: var(--primary-text-color);
}

.main-nav__logo-light {
  color: var(--white-color-text);
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #AFB1B8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  color: #FFFFFF;
  background: #2196F3;
}

.site-nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav.link.current {
  color: #2196f3;
}

.site-nav__item-nav {
  display: block;
  position: relative;
}

.site-nav__item-nav::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item-nav:focus:after {
  opacity: 1;
}

.site-nav__item-nav {
  margin-left: 50px;
}

.site-nav__item-nav:first-child {
  margin-left: 0px;
}

.site-nav__email {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__phone {
  fill: currentColor;
  margin-left: 30px;
  margin-right: 10px;
}

.site-nav__phone:hover {
  fill: #2196F3;
}

.site-nav__item-text {
  color: #757575;
}

.active {
  color: #2196F3;
}

.line {
  border-bottom: 1px solid #ECECEC;
  -webkit-transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--background-second-color);
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 94px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/foto-hero.jpeg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/foto-hero.jpeg);
}

.hero__baner {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 650px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--white-color-text);
}

.hero__button {
  font-size: 700;
  font-weight: 0.06em;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  line-height: 38px;
  background: #2196F3;
  color: var(--white-color-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 50px;
  -webkit-transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  color: var(--white-color-text);
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.perfomance {
  margin-left: auto;
  margin-bottom: 30px;
}

.perfomance__icon {
  padding: 25px 100px 25px 100px;
  width: 270px;
  height: 120px;
  border: 1px transpontant;
  background: #F5F4FA;
  border-radius: 4px;
}

.perfomance__icon:not(:last-child) {
  margin-right: 30px;
}

.box-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perfomance-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.perfomance-company__text {
  -ms-flex-preferred-size: calc(100%/4 - 30px);
      flex-basis: calc(100%/4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.perfomance-company__tittle {
  padding-bottom: 10px;
}

.perfomance-company__tittle-text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  text-transform: none;
  margin-bottom: 94px;
}

.about {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
  padding-bottom: 50px;
  text-align: center;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.about-list__photo {
  position: relative;
  display: block;
  width: 370px;
  max-height: 294px;
  -ms-flex-preferred-size: 3.33333%;
      flex-basis: 3.33333%;
  margin-left: 30px;
  margin-top: 30px;
}

.about-list__tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
  color: #FFFFFF;
  background-color: #2F303ACC;
}

.main-fon {
  background: #F5F4FA;
}

.stuf-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
  margin-bottom: 94px;
}

.stuf-block__photo {
  -ms-flex-preferred-size: -5%;
      flex-basis: -5%;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.title-stuf {
  text-align: center;
  padding: auto;
  padding-top: 94px;
  padding-bottom: 50px;
}

.stuf-block__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.stuf-block__name {
  font-size: 500;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  ine-height: 1.18;
}

.stuf-block__position {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.client {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.client__pikchy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 16px 32px 16px 32px;
  margin: auto;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  margin: auto;
  -webkit-transition-property: background-color 250 cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.client__pikchy:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 94px;
}

.client__icon-size:not(:last-child) {
  margin-right: 30px;
}

.footer-fon {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-second-color);
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-nav__address {
  display: block;
  padding-top: 20px;
}

.footer-nav__malto {
  display: block;
  padding-top: 9px;
}

.footer-nav__phone {
  display: block;
  padding-top: 9px;
}

.footer-nav__address-text {
  font-size: 14px;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  padding-right: 70px;
  text-decoration: none;
  line-height: 1.7;
  color: var(--white-color-text);
}

.footer-nav__malto-text {
  font-size: 14px;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav__phone-text {
  font-size: 14px;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-socials__text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social-item__link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--white-color-text);
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link-footer:hover {
  color: var(--white-color-text);
  background: #2196F3;
}

.icon-footer {
  margin-left: 156px;
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 93px;
}

.footer-fallow {
  margin-left: auto;
}

.footer-fallow__place-txt {
  position: relative;
}

.footer-fallow__text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
  padding-bottom: 20px;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-fallow___placeholder {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder::-webkit-input-placeholder {
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder:-ms-input-placeholder {
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder::-ms-input-placeholder {
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder::placeholder {
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow___placeholder:focus::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-fallow__btn {
  font-size: 700;
  font-weight: 0.06em;
  letter-spacing: 0.02em;
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  font-style: normal;
  line-height: 1.67;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-fallow__btn:focus, .footer-fallow__btn:hover {
  color: var(--white-color-text);
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-fallow__icon {
  position: absolute;
  display: block;
  top: 13px;
  right: 33px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.pd {
  padding-bottom: 94px;
}

.card {
  background: #FFFFFF;
  outline: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-set-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
}

.button-portfoli {
  margin-right: 8px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfoli:focus, .button-portfoli:hover {
  color: var(--white-color-text);
  background-color: var(--second-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-all {
  width: 73px;
}

.button-veb {
  width: 128px;
}

.button-aplic {
  width: 145px;
}

.button-design {
  width: 103px;
}

.button-market {
  width: 130px;
}

.card-set {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .item {
  -ms-flex-preferred-size: calc(100%/3 - 30px);
      flex-basis: calc(100%/3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.setings-cards {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.text-none {
  text-decoration: none;
}

.card-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  padding: 24px 64px 23px 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.overlay-tehno {
  position: relative;
  overflow: hidden;
}

.item:hover .card-text {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.item:focus .card-text {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.potfolio-items {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.name-of-itens {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opaciti 300ms, visabiliti 300ms;
  transition: opaciti 300ms, visabiliti 300ms;
}

.modal-form__text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
  font-style: normal;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__icon-close {
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close:hover {
  fill: #2196F3;
}

.modal__btn-open {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  right: 8px;
  top: 8px;
}

.modal-form__label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  padding-right: 42px;
  font-style: normal;
  line-height: 1.16;
  fill: #212121;
}

.modal-form__placeholder {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 1);
  transition: border cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover:focus + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__input:hover:focus {
  border: 1px solid #2196F3;
}

.modal-form__field {
  margin-bottom: 28px;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #212121;
}

.modal-form__input {
  display: block;
  position: relative;
}

.modal-coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-coment::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-style: normal;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-style: normal;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-style: normal;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coment::placeholder {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-style: normal;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding-left: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__link {
  padding-left: 4px;
  color: #188CE8;
}

.checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid #141313;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:focus {
  border: 2px solid #141313;
}

.checkbox:checked + .checkbox__label > .checkbox__icon {
  background: #2196F3;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__btn-form {
  display: block;
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__btn-form:focus, .checkbox__btn-form:hover {
  color: var(--white-color-text);
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */