.box-position{ 
  margin: auto;
  padding: 0;
  @media screen and (min-width:1200px) {
    display: flex;
    justify-content: center;
    }
  }
    
.perfomance{
 
  margin-left: auto;
  margin-bottom: 30px;

  @media screen and (min-width:1200px) {
    display: flex;
    justify-content: center;
    
  }
  }
  
  .perfomance__icon{
  padding: 25px 192px 25px 192px;
  width: 450px;
  height: 120px;
  border: 1px transpontant;
  
  background: #F5F4FA;
  border-radius: 4px;
 &:not(:last-child){
    margin-right: 30px;
  }
  @media screen and (min-width:768px) {
    width: 354px;
    height: 120px;
    padding: 25px 143px 25px 143px;
  }
  @media screen and (min-width:1200px) {
    width: 270px;
    height: 120px;
    padding: 25px 100px 25px 100px;
  }
  }
  
 
  .perfomance-company{
  width: 100%; 
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 30px;

  
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
    
    @media screen and (min-width:1200px) {
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  }
  
  .perfomance-company__tittle{
    @include font(14px, 700, 0.03em);
    text-align: center;
    padding-bottom: 10px;
    line-height: calc(14px/16px);
  }

  .perfomance-company__tittle-text {
    @include font(14px, 400, 0.03em);

  line-height: calc(14px/24px);
  color: #757575;
  text-transform: none;
  padding-bottom: 30px;

  @media screen and (min-width:768px) {
    padding-bottom: 0px;
    }
  
  @media screen and (min-width:1200px) {
  margin-bottom: 94px;
  }
  }

  .perfomance-company__text {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100%/2 - 30px);
      margin-left: 30px;
      margin-top: 30px; 
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100%/4 - 30px);
      margin-left: 30px;
      margin-top: 30px; 
    }
  }

   