// .box-position{ 
//     display: flex;
//     justify-content: center;
//     }
.perfomance{
    
  margin-left: auto;
  margin-bottom: 30px;
  }
  
  .perfomance__icon{
  padding: 25px 100px 25px 100px;
  width: 270px;
  height: 120px;
  border: 1px transpontant;
  
  background: #F5F4FA;
  border-radius: 4px;
 &:not(:last-child){
    margin-right: 30px;
  }
  }
  
 
  .perfomance-company{
   
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
  &__text {
    flex-basis: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    }
    
  }

  
  .perfomance-company__tittle{
    padding-bottom: 10px;
  
  }
  .perfomance-company__tittle-text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  text-transform: none;
  margin-bottom: 94px;
  }

  